AcademyF.Week7.Prova7.ClientWCF/Connected Services/CommerceReference/CommerceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommerceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63496/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63496/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63496/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcademyF.Week7.Prova7.Core.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommerceService_FetchAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_FetchAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_DeleteCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerById" />
  </wsdl:message>
  <wsdl:message name="ICommerceService_DeleteCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommerceService">
    <wsdl:operation name="FetchAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommerceService/FetchAllCustomers" message="tns:ICommerceService_FetchAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommerceService/FetchAllCustomersResponse" message="tns:ICommerceService_FetchAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommerceService/GetCustomerById" message="tns:ICommerceService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommerceService/GetCustomerByIdResponse" message="tns:ICommerceService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommerceService/CreateCustomer" message="tns:ICommerceService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommerceService/CreateCustomerResponse" message="tns:ICommerceService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommerceService/UpdateCustomer" message="tns:ICommerceService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommerceService/UpdateCustomerResponse" message="tns:ICommerceService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommerceService/DeleteCustomerById" message="tns:ICommerceService_DeleteCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommerceService/DeleteCustomerByIdResponse" message="tns:ICommerceService_DeleteCustomerById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommerceService" type="tns:ICommerceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ICommerceService/FetchAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/ICommerceService/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICommerceService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICommerceService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <soap:operation soapAction="http://tempuri.org/ICommerceService/DeleteCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommerceService">
    <wsdl:port name="BasicHttpBinding_ICommerceService" binding="tns:BasicHttpBinding_ICommerceService">
      <soap:address location="http://localhost:63496/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>