AcademyF.Week7.Prova7.ClientWCF/Connected Services/CommerceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63496/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcademyF.Week7.Prova7.Core.Entities" />
  <xs:element name="FetchAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcademyF.Week7.Prova7.Core.Entities" minOccurs="0" name="FetchAllCustomersResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCustomer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcademyF.Week7.Prova7.Core.Entities" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcademyF.Week7.Prova7.Core.Entities" minOccurs="0" name="customer" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcademyF.Week7.Prova7.Core.Entities" minOccurs="0" name="customer" nillable="true" type="q4:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>